<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Server Manager</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Server Manager</a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/"><i class="glyphicon glyphicon-arrow-left"></i> Back</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/settings"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
					</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
			<main class="container">
				<div class="row">
					<div class="col-md-8" id="server-settings">
						<div class="center">
							<h3 id="server-name"></h3>
						</div>
						<br>
						<div class="form-horizontal">
							<div class="form-group">
								<label for="inputServerName" class="col-sm-2 control-label">Server Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputServerName" placeholder="Server Name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerApp" class="col-sm-2 control-label">Application</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputServerApp" placeholder="Application">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerParams" class="col-sm-2 control-label">Parameters</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputServerParams" placeholder="Parameters">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerConfig" class="col-sm-2 control-label">Config file</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputServerConfig" placeholder="Config file location">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerPortVar" class="col-sm-2 control-label">Port Variable</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputServerPortVar" placeholder="Port Variable Name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerPort" class="col-sm-2 control-label">Server Port</label>
								<div class="col-sm-10">
									<input type="number" class="form-control" id="inputServerPort" placeholder="Server Port">
								</div>
							</div>
							<div class="form-group">
								<label for="inputServerLogs" class="col-sm-2 control-label">Logs</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="inputServerLogs" placeholder="Logs"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button id="buttonServerDelete" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete Server</button>
									<button id="buttonServerSave" type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
									<span id="saveConfirmed"><i class="glyphicon glyphicon-ok"></i> Saved</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
					<ul class="nav nav-pills nav-stacked" id="server-list"></ul>
				</div>
			</div>
		</main>
		
		<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="public/parser.js"></script>
		<script src="public/settings.js"></script>
	</body>
</html>